Onchange research
<app-onchange [object]="object" [string]="string" [number]="number" [array]="array" [subject]="subject"></app-onchange>

<h2>AppComponent</h2>
<button (click)="onClickEmitSubject()">Emit data over the subject</button>
<br/>
<button (click)="onClickRecreateObject()">onClickRecreateObject</button>
<button (click)="onClickChangeObjectProperty()">onClickChangeObjectProperty</button>
<br/>
<button (click)="onClickChangeNumber()">onClickChangeNumber</button>
<button (click)="onClickChangeString()">onClickChangeString</button>
<br/>
<button (click)="onClickChangeArray()">onClickChangeArray</button>
<button (click)="onClickRecreateArray()">onClickRecreateArray</button>
